# Ignore local virtual environment
.venv/

# Ignore local raw data and audio files
inputs/
*.txt
*.csv

# Ignore PyInstaller intermediate build files
build/

# Ignore OS-specific metadata
Thumbs.db
Desktop.ini
