# Ignore local virtual environment
.venv/

# Ignore local raw data, audio files, and generated text outputs
inputs/
*.txt
!requirements.txt
*.csv

# Ignore PyInstaller intermediate build files, output binaries, and specs
build/
*.spec

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore OS-specific metadata
Thumbs.db
Desktop.ini
.DS_Store